.leftContent
  .smiley
.rightContent
  %h1 API
  %p
    %span To get some foul-mouthed insults out of deride.me, just fire a GET to
    %code
      %a{href : "/insults"}
        http://deride.me/insults
  %p
    You will get back a JSON object like so:
  %p
    %code
      &#x007b;insult : 'is a gap-toothed quief monger'}
  %p That's it!
